*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 500ms;
}

body{
    padding: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    overflow: hidden;
    background-color: aquamarine;
}

body::after{
    position: absolute;
    height: 300vh;
    width: 0;
    transform: rotateZ(40deg);
    display: block;
    content: '';
    background-color: rgb(34, 33, 33);
    left: -50px;
    top: -950px;
    transition-duration: 800ms;
    z-index: -1;
}

body::before{
    position: absolute;
    height: 300vh;
    width: 0;
    transform: rotateZ(40deg);
    display: block;
    content: '';
    background-color: rgb(34, 33, 33);
    right: -50px;
    bottom: -950px;
    transition-duration: 800ms;
    z-index: -1;
}

h1{
    font-size: 45px;
}

p{
    font-size: 40px;
    font-weight: 600;
}

button{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.theme{
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 20px;
        display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.dark{
    color: #fff;
    
    .theme{
        color: #fff;
    }

    button{
        color: #fff;
    }
}

.dark::after, .dark::before{
    width: 900px;
}


input{
    padding: 10px;
    width: 200px;
    background-color: transparent;
    border: 1px solid;
}


